<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kg-online</title>
    <meta name="description" content="Kg-online - это социальная сеть кыргызстана" />
    <meta name="keywords" content="Kg-online, Kg - online, Kgonline, Kg online, кыргызстан онлайн, соцсеть кыргызстана" />
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="main">

    <div class="header">
        <div class="logo">
            <div class="logo_text">
                <h1><a href="/">Kg - online</a></h1>
                <h2>Кыргызстан онлайн</h2>
            </div>
        </div>
        <div class="menubar">

            <ul class="menu">
                <li class="selected"><a href="#">Профиль</a></li>
                <li><a href="#">Друзья</a></li>
                <li><a href="#">Посты</a></li>
                <li><a href="#">Музыка</a></li>
                <li><a href="#">Челенджи</a></li>
                <li><a href="#">Рейтинг</a></li>
            </ul>

        </div>
    </div>

</div>


<div class="site_content">

    <div class="sitebar_container">

        <div class="sitebar">
            <h2>Поиск</h2>
            <form method="post" action="#" id="searchbar" >
                <input type="search" name="search-field" placeholder="ваш запрос" />
                <input type="submit" class="btn" value="найти" />
            </form>

        </div>

        <div class="sitebar">
            <h2>Вход</h2>
            <form method="post" action="#" id="login" >
                <input type="text" name="login-field" placeholder="логин" />
                <input type="password" name="password-field" placeholder="пароль" />
                <input type="submit" class="btn" value="вход" />
                <div class="lables_passreg_text">
                    <span><a href="#">Регистрация</a></span>
                </div>
            </form>
        </div>

        <div class="sitebar">
            <h2>Новости</h2>
            <span>03.01.2020</span>
            <p>Была начата работа над проектом</p>
            <a href="#">Читать</a>
        </div>
    </div>
    <div class="site_text">
        <h2>Добро пожаловать в социальную сеть страны нового покаления, тебе у нас понравится</h2>
        <img src="assets/img/kgimg.jpg">

    </div>



</div>

</body>
</html>