<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kg-online</title>
    <link rel="stylesheet" href="../KgBlog/static/css/style.css">
</head>
<body style="font-size: 1em;
    background-color: antiquewhite;
    color: black;">
<div class="main" style="margin-left: auto;
    margin-right: auto;">

    <div class="header" style=" background-color: darkseagreen;
    height: 165px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;">
        <div class="logo" style="margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-bottom: 40px;">
            <div class="logo_text" style="padding: 22px 0 0 0;
    color: antiquewhite;
    letter-spacing: 0.1em;
    text-decoration: none;">
                <h1 style="font: 300% 'century gothic', Arial, sans-serif;
    margin: 0 0 0 9px; padding: 22px 0 0 0;
    color: antiquewhite;
    letter-spacing: 0.1em;
    text-decoration: none;"><a style="padding: 22px 0 0 0;
    color: antiquewhite;
    letter-spacing: 0.1em;
    text-decoration: none;" href="/KgBlog/">Kg - online</a></h1>
                <h2 style="font: 100% 'century gothic', Arial, sans-serif;
    margin: 0 0 0 9px; padding: 22px 0 0 0;
    color: antiquewhite;
    letter-spacing: 0.1em;
    text-decoration: none;
font-size: 1.3em;
    padding: 5px 0 0 0;
    color: darkgreen;">Кыргызстан онлайн</h2>
            </div>
        </div>
        <div class="menubar" style="margin-left: auto;  width: 900px;
    height: 38px;
    margin: -30px 0 0 0;;
    margin-right: auto;">

            <ul style="float: right;" class="menu">
                <li style=" float: left;
    padding: 1px 5px;
    list-style: none;
    margin: 1px 2px 0 0;" class="selected"><a style="font: normal 130% 'trebushet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 1px 25px 5px 2px;
    color: antiquewhite;
    text-decoration: none; cursor: pointer; " href="/KgBlog/user/">Профиль</a></li>
                <li style=" float: left;
    padding: 1px 5px;
    list-style: none;
    margin: 1px 2px 0 0;"><a style="font: normal 130% 'trebushet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 1px 25px 5px 2px;
    color: antiquewhite;
    text-decoration: none;" href="/KgBlog/">Главная</a></li>
                <li style=" float: left;
    padding: 1px 5px;
    list-style: none;
    margin: 1px 2px 0 0;"><a style="font: normal 130% 'trebushet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 1px 25px 5px 2px;
    color: antiquewhite;
    text-decoration: none;" href="/KgBlog/posts/">Посты</a></li>
                <li style=" float: left;
    padding: 1px 5px;
    list-style: none;
    margin: 1px 2px 0 0;"><a style="font: normal 130% 'trebushet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 1px 25px 5px 2px;
    color: antiquewhite;
    text-decoration: none;" href="#">Комментарии</a></li>
                <li style=" float: left;
    padding: 1px 5px;
    list-style: none;
    margin: 1px 2px 0 0;"><a style="font: normal 130% 'trebushet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 1px 25px 5px 2px;
    color: antiquewhite;
    text-decoration: none;" href="#">Рейтинг</a></li>
            </ul>

        </div>
    </div>

</div>


<div class="site_content" style="width: 340px; padding: 3px 0 10px 0; height: auto;
    background-color: darkseagreen; border-radius: 15px;  text-decoration: none; margin: 15px 0 0 68px;">

    {% for posting in object_list %}
    <a href="/KgBlog/posts/{{ posting.id }}"><h3 style="font: normal 130% 'trebushet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 1px 25px 5px 2px;
    color: antiquewhite;
    text-decoration: none;">{{ posting.post_title }}</h3></a>
    {% endfor %}

</div>