<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kg-online</title>
    <link rel="stylesheet" href="static/assets/css/style.css">
</head>
<body>

<div class="main">

    <div class="header">
        <div class="logo">
            <div class="logo_text">
                <h1><a href="/KgBlog/">Kg - online</a></h1>
                <h2>Кыргызстан онлайн</h2>
            </div>
        </div>
        <div class="menubar">

            <ul class="menu">
                <li class="selected"><a href="/KgBlog/user/">Профиль</a></li>
                <li><a href="/KgBlog/posts/">Посты</a></li>
                <li><a href="#">Комментарии</a></li>
                <li><a href="#">Рейтинг</a></li>
            </ul>

        </div>
    </div>

</div>

<div class="site_content">
<div>
    <h3>I user KgOnline</h3>
</div>
</div>
